[user]
    name = Roey Berman
    email = roey.berman@gmail.com
[color]
    ui = auto
[core]
    pager = less -FRSX
    editor = vim
	excludesfile = ~/.gitignore_global
[merge]
    tool = vimdiff
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset - %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit
    recent = for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)'
[push]
    default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = bergundy
[ghi]
	token = !security find-internet-password -a bergundy -s github.com -l 'ghi token' -w
