[submodule "gcloud-zsh-completion"]
	path = gcloud-zsh-completion
	url = https://github.com/littleq0903/gcloud-zsh-completion
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
